html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  width: 100vw;

  background-image: url("/public/HomePageImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background: transparent;
  min-height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
