.buttonBackToHomePage {
    display: block; 
    width: 150px; 
    margin: 20px auto 0;
    padding: 10px; 
    background-color: transparent; 
    color: #541b08; 
    border: 1px solid #541b08; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.buttonBackToHomePage:hover {
    background-color: #541b08; 
    color: #fff; 
}
