.gallery {
    text-align: center;

    background-color: #efe3cf;
    min-height: 100vh;
}

.gallery h1 {
    font-family: inherit; /* preia fontul de la body, la fel ca butonul */
    color: #541b08; 
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}