.local-shop-container {
    min-height: 100vh;
    width: 100vw;

    background-image: url("/public/LocalShopImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 40px;
}

.product-name {
    margin-right: 30px;
    font-size: x-large;
}

.product-price {
    margin-left: 60px;
    margin-right: 30px;
    font-size: x-large;
}