.bg-image {
    background-image: url('/public/HomePageImage.png'); 
    background-size: cover; 
    background-position: center;
}

.text {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}